In [4]:
import pandas as pd
import seaborn as sbn
import numpy as np
import matplotlib as mplt

In [15]:
#Load the Data
red_wine_original = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')
white_wine_original = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv',sep=';')
red_wine = red_wine_original.copy()
white_wine = white_wine_original.copy()

In [ ]:
#print the first 10 and the last 10 records

red_wine.head(10)
red_wine.tail(10)

In [ ]:
#chech the info and the shape 
red_wine.info()
red_wine.shape

In [21]:
#observe if there are missing values

red_wine.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
quality_label           0
dtype: int64

In [ ]:
#check for Descriptive Statistics for both red and white wine datasets
red_wine.describe()
white_wine.describe()

In [ ]:
# we are creating a new column called "quality_label", we define a range and associate that range with a label
red_wine['quality_label'] = red_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')
red_wine

In [ ]:
# here we are transforming these labels into categrical data type (specific to pandas) instead of simple string
red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'],
categories=['low', 'medium', 'high'])
red_wine

In [ ]:
white_wine['quality_label'] = white_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')
white_wine

In [ ]:
white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'],
categories=['low', 'medium', 'high'])
white_wine

In [ ]:
concat_wine = pd.concat([red_wine.describe(), white_wine.describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])
concat_wine

In [32]:
wine_quality_subset = concat_wine.iloc[:,[1,13,16,21,13]]
wine_quality_subset

       Red Wines Stats White Wines Stats
      volatile acidity  volatile acidity    chlorides
count      1599.000000       4898.000000  4898.000000
mean          0.527821          0.278241     0.045772
std           0.179060          0.100795     0.021848
min           0.120000          0.080000     0.009000
25%           0.390000          0.210000     0.036000
50%           0.520000          0.260000     0.043000
75%           0.640000          0.320000     0.050000
max           1.580000          1.100000     0.346000